
[v-cloak] {display: none}

#homepage_content * {
	font-size: 16px;
}

#hover-main-menu {
	position: fixed;
	width: 150px;
	top: 44px;
	right: 10px;
	background-color: #FFFFFF;
	border: 2px solid rgba(0, 0, 0, 0.075);
	border-radius: 3px;
	padding: 10px 20px;
	z-index: 100;
}

#hover-main-menu ul li {
	margin-bottom: 15px;
	margin-top: 10px;
}

.blog-content h4 {
	margin-bottom: 18px;
	margin-top: 25px;
	max-width: 700px;
}

.blog-content img.blog-image {
	margin-bottom: 60px;
	margin-left: 5%;
	margin-top:  35px;
	width:  90%;
}

.blog-content p {
	font-size: 18px;
	max-width: 700px;
}

.blog-footer-feather {
	opacity: 50%;
}

.blog-title {
	margin-bottom: 55px;
	margin-top: 35px;
	font-size: 30px;
}

.code-style {
	font-family: "Courier New";
	font-weight: 600;
}

.cursor-pointer {
	cursor: pointer;
}

.gsc-control-cse {
	padding: 0px !important;
}

.inline-block {display: inline-block;}

.links-list-div {
	font-size: 1.4rem; 
}